.header
    .logo
        img(src='https://cdn.pbrd.co/images/1QGDEiXFV.png')
    .dropdown
    button.dropdown-toggle(type='button', data-toggle='dropdown')
        | <i class="fa fa-bars" aria-hidden="true"></i>
        span.dropdown-toggle(type='button', data-toggle='dropdown')
    ul.dropdown-menu
        li Hoteles
        li Vuelos
        li Vuelo + Hotel
        li Paquetes
        li Disney
        li Actividades
        li Seguros
        li Autos
        li Cruceros
        li OFERTAS
        li Más <i class="fa fa-angle-down" aria-hidden="true"></i>
    i.fa.fa-phone(aria-hidden='true')
    i.fa.fa-user(aria-hidden='true')

    .rightnavdesktop
        ul
            li <i class="fa fa-user" aria-hidden="true"></i> Ingresar
            li
                img(src="https://images.almundo.com/205/image/upload/v1474987989/static/components/logo-clubalmundo.svg", class="img-responsive")
            li Sucursales
            li Llamanos<i class="fa fa-angle-down" aria-hidden="true"></i>
            li AYUDA
    .navigationdesktop
        ul
            li Hoteles
            li Vuelos
            li Vuelo + Hotel
            li Paquetes
            li Disney
            li Actividades
            li Seguros
            li Autos
            li Cruceros
            li OFERTAS
            li Más <i class="fa fa-angle-down" aria-hidden="true"></i>