//@import "./font";
@import "./slider";
@import "./_hotel-list.scss";



body {
	background-color: lavender;
    font-family: 'Roboto', sans-serif;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 8px 0px;

}

.breadcrumb-ctn{
	height: 20px;
	boder-color: black;
	border: 2px solid black;
}
.filter-ctn{
	height: 200px;
	border-color: black;
	border: 2px solid black;
}


.search-ctn{
	height: 200px;
	border: 2px solid black;
}












