@import "./font";
@import "./slider";
@import "./_hotel-list.scss";



body {
	background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
	padding : 10px 10px;
	min-width: 320px;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
	.container-fluid{
		padding-left: 2px;
	}
}

.breadcrumb-ctn{
	height: 20px;
	border: 2px solid black;
}

.search-ctn{
  height: 100px;
  border: 2px solid black;
  width: 100%;
}

.filter-ctn{
	height: 200px;
	border: 2px solid black;
	width: 100%;
	@media only screen and (min-width: 992px){
		width: 25%;
	}
}

.hotels-ctn{

	padding: 30px 0px 0px 0px;

}














