//@import "./font";
@import "./slider";
@import "./_hotel-list.scss";



body {
	background-color: lavender;
    font-family: 'Roboto', sans-serif;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 8px 0px;

<<<<<<< HEAD
}

.breadcrumb-ctn{
	height: 20px;
	boder-color: black;
	border: 2px solid black;
}
.filter-ctn{
	height: 200px;
	border-color: black;
	border: 2px solid black;
=======
.row {
	width: 100%;
	//background-color: white;
	//box-shadow: 0px 2px 4px 0px gray;
	margin: 20px;
    padding : 10px;
    height: auto;
}

.hotels-ctn{
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px 0px gray;
  margin: 20px;
  padding : 10px;
  height: auto;
}



.slider{

  position: relative;

}

.nav-ctn{
  position: absolute;
  width : 100%;
  top: 50%
}

.details .name{
	font-size: 16px;
	font-weight: bold;
>>>>>>> origin/master
}


.search-ctn{
	height: 200px;
	border: 2px solid black;
}












