.sliders{
  height: 100%;
  min-width: 250px;
  margin: -10px 0px 0px 0px;
  padding: 0px;
  position: relative;
  .items-ctn{

    li{

      .hotel-image{
        position: relative;
        margin-top: 8px;
        overflow: hidden;
        background-position: 50%;
        height: 195px;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }
  }

  .nav-ctn{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    li{
      z-index: 1;
      position: absolute;
      cursor: pointer;
      font-size: 18px;
      &.prev{
        left: 8px;
        padding: 0px 8px;
        color: blue;
        position: absolute;
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bold;
        top : calc(50% - 30px);
        transition: all 400ms ease-out;
      }

      &.next{
        right: 12px;
        padding: 0px 8px;
        color: blue;
        position: absolute;
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bold;
        top : calc(50% - 30px);
      }

    }

  }

}

