.hotels-ctn
        .col-md-3.slider
                slider(item="{{$ctrl.images}}")
        .col-md-7.details
                p.name {{$ctrl.item.name}}
                p.stars(ng-repeat=("star in $ctrl.stars() track by $index"))
                        <i class="fa fa-star" aria-hidden="true"></i>
                p.description <i class="fa fa-bed" aria-hidden="true"></i> Solo la habitacion
                span.icon <i class="fa fa-glass" aria-hidden="true"></i>
                span.icon <i class="fa fa-check-square-o" aria-hidden="true"></i>
                span.icon <i class="fa fa-coffee" aria-hidden="true"></i>
                span.icon <i class="fa fa-wifi" aria-hidden="true"></i>
        .col-md-2.pricebox
                p Precio por noche por habitacion
                p.coin <span id="cointype">ARS</span> <span id="price">{{$ctrl.item.price}}</span>
                p Impuestos y tasas no incluidos
                a(href="" target="new_blank")
                        button Ver hotel
                .pstrong
                        p Pagá en cuotas
                        a(href="http://www.google.com") Pagá en destino