.row.cluster
        .col-md-4.slider
                img(src="{{$ctrl.item.image}}")
        .col-md-5.details
                .name {{$ctrl.item.name}}
                img.stars {{$ctrl.item.stars}}
        .col-md-3.pricebox
                p Precio por noche por habitacion
                span.price.moneda ARS {{$ctrl.item.price}}
                p Impuestos y tasas no incluidos
                a(href="" target="new_blank")
                        button Ver hotel
                p Paga en cuotas
                a(href="" target="new_blank")
                        p paga en efectivo