.row.cluster
        .col-md-4.slider
                img(src="{{$ctrl.item.image}}")
        .col-md-5.details
                p.name {{$ctrl.item.name}}
                p.stars {{$ctrl.item.stars}}
                p.description Solo la habitacion
        .col-md-3.pricebox
                p Precio por noche por habitacion
                p.coin ARS <span id="price">{{$ctrl.item.price}}</span>
                p Impuestos y tasas no incluidos
                a(href="" target="new_blank")
                        button Ver hotel
                .pstrong
                        p Pagá en cuotas
                        p Pagá en destino