.filter-box-style.container-fluid(ng-init="filtershow=true")
    .filter-header
        .filter-price-icon.col-md-2.col-sm-2.col-xs-2 <i class="fa fa-usd" aria-hidden="true"></i>
        .filter-name.col-md-8.col-sm-8.col-xs-8  Precio por noche
        .filter-display-icon.col-md-2.col-sm-2.col-xs-2 <i class="fa fa-sort-asc" aria-hidden="true" ng-click="filtershow=!filtershow"></i>
    .filter-input(ng-show="filtershow")
        .range
            input(type="range" name="price" min='0' max='10')
