.filter-title{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.delete-filter{
  float: right;
  color: #157ab1;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
}
