spam.filter-title#showFilter(ng-click="$ctrl.showFilter()") Filtrar &nbsp<i class="fa fa-sort-desc" aria-hidden="true"></i>
spam.delete-filter(ng-click="$ctrl.deleteFilter()") <i id="close" class="fa fa-times" aria-hidden="true"></i> Eliminar filtro