.container-fluid
    main.row
        section.breadcrumb-ctn
        section.search-ctn.col-xs-12.col-sm-12.col-md-12
        section.filter-ctn.col-xs-12.col-sm-12.col-md-3
        section.hotels-ctn.col-xs-12.col-sm-12.col-md-9
                hotels-list(hotels = "$ctrl.hotels")
