.container-fluid
    main.row
<<<<<<< HEAD
        section.breadcrumb-ctn
        section.search-ctn.col-xs-12.col-sm-12.col-md-12
        section.filter-ctn.col-xs-12.col-sm-12.col-md-3
        section.hotels-ctn(hotels-root).col-xs-12.col-sm-12.col-md-9
            article
                hotels-list(hotels = "$ctrl.getHotelsInit()")
=======
        div.breadcrumb-ctn
        div.search-ctn
        div.filter-ctn
        div.hotels-ctn
            hotels-list(hotels = "$ctrl.getHotelsInit()")
>>>>>>> origin/master
