.container-fluid
    main.row
        section.breadcrumb-ctn
                breadcrumb
        section.search-ctn
                search
        section.filter-ctn.col-xs-12.col-sm-12.col-md-3
                filters(filters = "$ctrl.filters")
        section.hotels-ctn.col-xs-12.col-sm-12.col-md-9
                hotels-list(hotels = "$ctrl.hotels")
