ul.container-fluid.hotel-container
    .order-ctn
        .order-label
            p Ordenar&nbsp
        .order-select
            select
                option(value="relevantes") M치s relevantes
                option(value="minPrice") Precio m치s bajo
                option(value="maxPrice") Precio m치s alto
                option(value="minStar") Menos estrellas
                option(value="maxStar") M치s estrellas
    li(ng-repeat='hotel in $ctrl.hotels |filterPrice:($ctrl.filters.price)|filterName:($ctrl.filters.nameFilter)|filterStar:($ctrl.filters.stars) track by $index')
        hotel-item(item='hotel')
        
        
        
